<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-recipes-item
      *ngFor="let recipeEl of recipes; let i = index"
      [recipe]="recipeEl"
    [index]="i"></app-recipes-item>
  </div>
</div>
